* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Manrope, Arial;
    background-color: hsl(210, 46%, 95%);
}

.drawers-img {
    width: 250px;
    border-radius: 10px 0 0 10px;
}

.container {
    width: 650px;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    background-color: white;
}

.content-div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.description-p {
    font-size: 13px;
    color: hsl(214, 17%, 51%);
}

.heading-p {
    font-size: 15px;
    font-weight: 600;
}

.share-icon {
    width: 15px;
}

.share-icon-div {
    background-color: hsl(210, 46%, 95%);
    padding: 8px 12px;
    border-radius: 100%;
    cursor: pointer;
}


.toggled-share-icon-div {
    background-color: hsl(217, 19%, 35%);
}

.person-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 35px;
    border-radius: 100%;
}

.info-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-p {
    font-weight: bold;
    font-size: 14px;
}

.date-p {
    font-size: 14px;
    color: hwb(214 43% 41%);
}

.share-socials-div {
   background-color: hsl(217, 19%, 35%);
   color: hsl(212, 23%, 69%);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   gap: 20px;
   position: absolute;
   border-radius: 10px;
   right: -50px;
   bottom: 80px;
}

.is-hidden {
    display: none !important;
}

@media (max-width: 675px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .content-div {
        padding: 0;
        gap: 10px;
    }

    .heading-p {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .person-div {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .description-p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .drawers-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .share-socials-div {
        right: 80px;
        bottom: 30px;
    }

    .share-socials-div-one {
        background-color: hsl(217, 19%, 35%);
        color: hsl(212, 23%, 69%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
}